*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./image/background\ img.webp");
    background-attachment: fixed;
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 38, 38, 0.5);
    color: #fff;
    padding: 10px;
    top: 0;
    position: sticky;  
}
.name{
    width: 50%;
    text-indent: 20px;
    display: flex;
    align-items: center;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    padding: 5px;
    transition: all 500ms ease-in-out;
    border-radius: 5px;
    color: #fff;
}
.menu a:hover{
    color: #333;
    scale: 0.8;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
#contact {
    text-align: center;
}
.prg{
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: auto;
    padding: 30px;
    border: 1px solid white;
}
.img{
    width: 30%;
}
.line{
    width: 60px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;

}
.img img{
    width: 200px;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
    border: 2px solid white;
}
.content{
    width: 60%;
    color: rgb(255, 255, 255);
}
h2{
    margin-bottom: 10px;
}
p{
    margin-bottom: 5px;
    text-indent: 30px;
    text-align: justify;
}
a{
    color: #fff;  
}
a:hover{
  color:  #85c9db  ;
}
