*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background: rgba(2, 2, 2, 0.5);
    color: #fff;
    padding: 10px;
}
.name{
    width: 50%;
    text-indent: 20px;
    display: flex;
    align-items: center;
}
.menu{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    padding: 5px;
    transition: all 500ms ease-in-out;
    border-radius: 5px;
    color: #fff;
}
.menu a:hover{
    background-color:#fff;
    color: #333;
    scale: 0.8;
}
.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.gallery-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}
footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.gallery {
    position: relative;
}

.gallery-item {
    position: relative;
    display: inline-block;
}

.gallery-item img {
    width: 350px;
    height: 250px; 
    display: block;
    opacity: 0.6;
}

.see-more-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.see-more-button:hover {
    background-color: rgba(255, 255, 255, 1);
}